:root{
    --color-primary: blue;
    --bg-dark: #141414;
    --bg-card:#555;
    --text-color:#fff;
    --bg-rgba:rgba(0,0,0,0.8);
    --btn-color:#fbff00;
}
/* reset basico */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg-dark);
    color:var(--text-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background: var(--bg-rgba);
}
.logo{
    font-size: 1.54rem;
    font-weight: 700;
    text-transform: uppercase;
}
.logo span{
    color:var(--btn-color);
    padding: 10px;
}

nav ul {
    display:  flex;
    list-style: none;
}
nav ul li {
    padding: 0 15px;
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
}
nav ul li a:hover{
    color:var(--btn-color);
    text-decoration: underline;
    text-transform: uppercase;   
}
 #container{
    padding:  40px 15%;;
 }

 .card{
    display:grid ;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top: 20px;
 }
 .card-product{
    background: var(--bg-card);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 03s ease;
    border: 2px solid var(--text-color);
 }
 .card-product:hover{
    transform: translateY(-10px);
    border: 5px solid;
    border-color: rgba(124, 124, 124, 0.863);
 }
 
 .card-product img{
    width: 100%;
    height: 65%;
    
 }
 .card-content{
    padding: 15px;
    text-align: center;
 }
 .card-content h3{
    font-size: 1.5rem;
    color:var(--btn-color);
    margin-bottom: 20px;
 }
.preco{
    
    font-size: 2rem;
    margin-bottom: 10px;
}
.btn-comprar{
    background: var(--btn-color);
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    width: 50%;
}
.btn-comprar:hover{
    background: #bab402;
    transform: scale(1.2);
}


.card-lore{
    margin-top: 3rem;
    height: 100%;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 03s ease;
}

.card-lore:hover{
    transform: scale(1.2);
    transform: translateY(-10px);
    border-color: var(--btn-color);
}

.title{
    padding: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 

}

.description-history{
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.img-lore{
    width: 100%;
    height: 25vw;
    border: 3px solid #373736;
    border-radius: 10px;
}

footer{
    background: var(--bg-card);
    }
.footer-container{
    margin-top: 50px;
    padding: 40px 30px;
    display: flex;
    gap: 5vw;
    display:grid ;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    
}

.footer-container ul {
    list-style: none;
    width: 100%;
    
}
.footer-container a{
    text-decoration: none;
    color: var(--text-color);
}
.footer-container li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-top: 3%;
}

.redes-sociais img{
    width: 2rem;
}

.redes-sociais{
    margin-top: 20px;
}